<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Recipeasy{% endblock %}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        {% block extra_css %}{% endblock %}
    </head>
    <body class="bg-light">

        <div class="container mt-3">
            <div class="d-flex justify-content-between align-items-center mb-3">
                {% if user.is_authenticated %}
                    <span>Account: {{ user.username }}</span>
                    <div>
                        <a href="{% url 'recipes:logout' %}" class="buttonStyle">Sign Out</a>
                    </div>
                {% else %}
                    <div>
                        <a href="{% url 'recipes:login' %}" class="buttonStyle me-2">Log In</a>
                        <a href="{% url 'recipes:signup' %}" class="buttonStyle">Sign Up</a>
                    </div>
                {% endif %}
            </div>
        </div>

        <div>
            {% block content %}
            {% endblock %}
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

        {% block extra_js %}{% endblock %}
    </body>
</html>