{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>RecipEasy</title>
    <link rel = "stylesheet" href = "{%static 'css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

<nav class="navbar navbar-light bg-light">
    <div class="container">

        <a class="navbar-brand" href="{% url 'recipes:homepage' %}">RecipEasy</a>

        <div>
            <a href="{% url 'recipes:login' %}" class="btn btn-outline-primary">Login</a>
            <a href="{% url 'recipes:signup' %}" class="btn btn-primary">Sign Up</a>
        </div>
    
    </div>
</nav>

<div class="container mt-4">
    {% block content %}
    {% endblock %}
</div>

</body>
</html>
