{% extends "base.html" %}

{% block title %}{{ selected_difficulty|title }} Recipes{% endblock %}

{% block body_class %}viewCategory{% endblock %}

{% block content %}

<h1 class="title">{{ selected_difficulty|title }} Recipes</h1>

<div class="account-row top-buttons">
  {% if user.is_authenticated %}
      <p>Account: {{ user.username }}</p>
      <a class="buttonStyle" href="{% url 'recipes:logout' %}">Sign Out</a>
  {% else %}
      <a class="buttonStyle" href="{% url 'recipes:signup' %}">Sign Up</a>
      <a class="buttonStyle" href="{% url 'recipes:login' %}">Sign In</a>
  {% endif %}
</div>

<div class="container mt-4">
  {% if query %}
    <p class="text-center">Search results for "{{ query }}" in {{ selected_difficulty|title }}</p>
  {% endif %}

  <div class="row g-4">
    {% for recipe in recipes %}
      <div class="col-md-4">
        <a href="{% url 'recipes:recipe_detail' recipe.id %}" class="recipe-link">
          <div class="categoryCard">
            {% if recipe.image %}
              <img src="{{ recipe.image.url }}" class="categoryCard-img-top" alt="{{ recipe.name }}">
            {% else %}
              <img src="" class="categoryCard-img-top" alt="{{ recipe.name }}">
            {% endif %}
            <div class="categoryCard-body p-2">
              <p class="categoryCard-text">{{ recipe.name }}</p>
            </div>
          </div>
        </a>
      </div>
    {% empty %}
      <div class="col-12 text-center">
        <p>No recipes found in this category.</p>
      </div>
    {% endfor %}
  </div>

</div>

<div class="home-button">
  <a href="{% url 'recipes:homepage' %}" class="buttonStyle">Home</a>
</div>
{% endblock %}